.compani h1 {
    color: #f8c02d;
    font-family: Roboto;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 30px;
    display: inline-block;
    position: absolute;
    margin-left: 10px;
}
.compani img {
    height: 32px;
    width: 40px;
    
}
.compani{
    margin-top: 9rem;
     margin-bottom: 5rem;
}
