.personal-info {
    background-color: #181a1d;
    height: auto;
}

.profile-walpaper {
     margin-top: 30%;
    a {
        font-weight: 900;
        font-size: 18px;
        font-family: Roboto;
        line-height: 28.13px;
        font-style: normal;
        color: #ffffff;
        margin-top: 30%;
    }
}
