.static-acount {
    text-align: center;
    h2 {
        color: #ffffff;

        font-family: "Roboto";
        font-weight: 900;
        margin-top: 3rem;
    }
    p {
        color: #ffffff;
        margin-bottom: 3rem;
        margin-top: 1rem;
        font-family: "Roboto";
        font-weight: 900;
    }

}
