.coin-card {
    p {
        color: #fff;
        font-weight: 900;
        font-size: 15px;
        padding: 13px;
    }
    span {
        color: #fff;
        font-weight: 600;
        font-size: 10px;
    }
    img {
        width: 10px;
        height: 10px;
        border-radius: 50%;
    }
}
.first {
    width: 224px;
    height: 274px;
    border: none;
    background-color: #181a1d;
    margin-bottom: 0.75rem;
    margin-top: 1rem;
}
.first-card-header {
    background-image: url("./../../assets/image/first.png");
    height: 132px;
}
.second {
    width: 224px;
    height: 274px;
    border: none;
    background-color: #181a1d;
    margin-bottom: 0.75rem;
    margin-top: 1rem;
}
.second-card-header {
    background-image: url("./../../assets/image/second.png");
    height: 132px;
}
.third {
    width: 224px;
    height: 274px;
    border: none;
    background-color: #181a1d;
    margin-bottom: 0.75rem;
    margin-top: 1rem;
}
.third-card-header {
    background-image: url("./../../assets/image/third.png");
    height: 132px;
}
.fourth {
    width: 224px;
    height: 274px;
    border: none;
    background-color: #181a1d;
    margin-bottom: 0.75rem;
    margin-top: 1rem;
}
.fourth-card-header {
    background-image: url("./../../assets/image/fourth.png");
    height: 132px;
}
@media (min-width: 10px) and (max-width: 767px) {
    .first {
        margin-left: 2.5rem;
    }
    .second {
        margin-left: 2.5rem;
    }
    .third {
        margin-left: 2.5rem;
    }
    .fourth {
        margin-left: 2.5rem;
    }
    .about-coin h1 {
        text-align: center;
        font-size: 19px;
    }
    .about-coin h2 {
        text-align: center;
        font-size: 19px;
    }
}
