.coin-detile{
      background-color: #181a1d;
    height: auto;
    link, .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #181a1d;
    border-color: #181a1d #181a1d #181a1d;
}
.nav-tabs {
    border-bottom: 1px solid #000000;
}
}
@media (min-width: 10px) and (max-width: 767px){
  
}