.profile-question {
    margin-top: 7%;

    h1 {
        font-weight: 900;
        color: #ffffff;
        font-size: 30px;
        line-height: 37px;
        font-family: Roboto;
        margin-bottom: 2rem;
        margin-top: 3rem;
        display: inline-block;
    }
    .question-input {
        border: none;
        background-color: #1e2429;
        margin-left: 25px;
    }
    .step {
        background-image: url("../../assets/image/step.png");
        background-size: cover;
        background-position: center;
        width: 40px;
        height: 40px;
        color: #ffffff;
        text-align: center;
        padding: 8px;
        margin: 0px 43px 0px 0px;
        &:hover {
            cursor: pointer;
        }
    }
    input[type="radio"] {
        transform: square(1);
        margin: 0px 10px;
    }
    .active-step {
        background-image: url("../../assets/image/activeStep.png");
        background-size: cover;
        background-position: center;
        width: 40px;
        height: 40px;
        color: #ffffff;
        text-align: center;
        padding: 8px;
        margin: 0px 43px 0px 0px;
        &:hover {
            cursor: pointer;
        }
    }
    ul {
        display: flex;
        padding: 0;
        list-style-type: none;

        align-items: center;
        margin-bottom: 0;
    }
}
.profile-question {
    h2 {
        font-family: Roboto;
        font-style: normal;
        font-weight: 900;
        font-size: 26px;
        color: #ffffff;
        margin-top: 10px;
        margin-bottom: 50px;
    }
    p {
        color: #ffffff;
        font-size: 13px;
        text-align: center;
        margin-top: 8px;
        display: inline-block;
        margin-left: 25px;
        margin-right: 90px;
    }
    #submit:hover {
        cursor: pointer;
    }
    #submit {
        background-color: #f8c02d;
        display: block;
        width: 76px;
        height: 32px;
        border: none;
    }
    label {
        color: #ffffff;
        font-size: 13px;
        text-align: center;
        
        margin-bottom: 1rem;
        display: inline-block;
        margin-left: 25px;
        margin-right: 90px;
    }
    .path {
        background-image: url("../../assets/image/questionCard.png");
        background-repeat: no-repeat;
        background-size: cover;
        width: 250px;
        height: 150px;
        margin-left: 10px;
        display: inline-block;
        border-radius: 6px;
        margin-bottom: 15px;
        .coins {
            margin-left: 32px;
            margin-top: 16px;
        }
    }
    .active-path {
        border: solid 1px #f8c02d;
    }
}

@media (min-width: 10px) and (max-width: 767px) {
    .profile-question {
        text-align: center;
        .path {
            background-repeat: cover;
            background-size: 100%;
            background-repeat: no-repeat;
            margin-bottom: 15px;
            background-position: 100% 21%;
            height: 120px;
            border-radius: 10px;
            margin-left: 0;
        }
        .step {
            width: 25px;
            height: 25px;
            padding: 0;
            margin: 3px;
        }
        .active-step {
            width: 25px;
            height: 25px;
            padding: 0;
            margin: 3px;
        }
    }
}
