.personal-info {
    h1 {
        font-weight: 900;
        color: #ffffff;
        font-size: 32px;
        line-height: 37px;
        font-family: Roboto;
        margin-bottom: 5rem;
        margin-top: 7rem;
    }
}
