.comming-soon-box {
      background-color: #181a1d;
    width: 100%;
    height: 350px;
    position: absolute;
    z-index: 100;
    opacity: 1;
    margin-top: 11rem;
    margin-left: 9rem;
 
}
.comming-soon{
       h1 {
        text-align: center;
        color: #ffffff;
        margin-top: 9rem;
        font-weight: 900;
    }
}
